Django>=3.2,<3.3
django-phonenumber-field==5.2.0
django-storages[google]==1.11.1
django-environ==0.4.5
djangorestframework==3.12.4
google-cloud-secret-manager==2.4.0
google-auth==1.30.0
gunicorn==20.1.0
phonenumberslite==8.12.28
psycopg2-binary==2.8.6
wagtail>=2.14,<2.15
