<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About {{ page.first_name }}</title>
    <script>
        window.pageId = parseInt('{{ page.id }}');
    </script>
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<body>
    {% load static %}
    <div id="root">
        <!-- React will load here -->
    </div>
    <!-- react built js file path specified in frontend/webpack.config.js -->
    <script src="{% static "build/bundle.js" %}"></script>
</body>

</html>